.menu {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  color: white;
}

.disabledMenu {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  color: #d0d0d0;
}

.toolbar {
  background-color: rgb(51, 56, 77, 0.8);
}
